@blueblanc:#e8fbfc;

.color {
    background-color:@blueblanc; }
  
  .footer {
    padding: 1% 0 1% 0%;
    background-color: aqua;
    margin-top: 0%;
    margin-bottom: 1%; }
  
  .card-contenido {
    flex: 1 150px;
    padding: 2px 5px 2px 5px; }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  .icon-margin {
    padding-right: 10px; }
  
  .tabletex {
    text-align: center; }
  
  .tableicon {
    text-align: left; }
  
  .tab-content {
    padding-top: 2%; }
  
  .pruebacolor {
    background-color: yellow; }
  